<!-- Je divise le header en 3 parties le titre, un case vide qui disparait en mobile et la section API -->
<header class="phone">
    <!-- Mon titre -->
    <div  class="title">
        <h1>Carnet de voyage</h1>
    </div>
    <!-- La div qui appelle l'API -->
    <div class="api">

    </div>
</header>

<!-- Mon header version desktop -->
<header class="desktop">
    <!-- Mon titre -->
    <div class="title">
        <h1>Carnet de voyage</h1>
    </div>

    <div class="empty"></div>
    <!-- La div qui appelle l'API -->
    <div class="api">

    </div>
</header>
