/* Points communs des deux headers */
header {
    background-color: var(--beige);
    display: flex;
} 

/* CSS header version phone */
.phone {
    height: 70px;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.phone .title {
    height: 100%;
    width: 70%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.phone h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;  
}

.phone .api {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone .api p {
    margin: 0;
}

/* CSS header version version desktop */
.desktop {
    height: 100%;
    width: 154px;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.desktop .title{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 374px;
    border-bottom: 1px solid black;
    padding-top: 120px;
}

.desktop .title h1 {
    /* position: absolute;
    top: 40%;
    left: -50px; */
    width: 154px;
    white-space: nowrap;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    transform: rotate(270deg);
}

.desktop .empty {
    height: 466px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.desktop .api {
    /* min-height: 100px; */
    width: 190px;
    height: 214px;
    transform: rotate(270deg);
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bon clairement la version desktop est pas folle mais j''ai pas trouvé comment faire mieux */


@media (min-width: 1000px) {
    
    .phone {
        display: none;
    }

    .desktop {
        display: block;
        display: flex;
    }

} 
