<!-- J'ai décidé de faire 2 header pour le responcive -->
<!-- Mon header version phone -->
<header class="phone">
    <div  class="title">
        <h1>Carnet de voyage</h1>
    </div>
    <div class="api">
        <p>{{data?.address}}</p>
        <p>☀️ {{data?.currentConditions?.temp}}°C</p>
    </div>
</header>

<!-- Mon header version desktop -->
<header class="desktop">
    <div class="title">
        <h1>Carnet de voyage</h1>
    </div>
    <div class="empty"></div>
    <div class="api">
        <p>{{data?.address}}</p>
        <p>☀️ {{data?.currentConditions?.temp}}°C</p>
    </div>
</header>
